/* quotes */
img, .imghappy {
  height: 100vh;
  width: 100%;
}

/* loading scherm  */
#loading{
  height: 100vh;
  background-color: black;
}

#loadingtext{
  font-family: 'Sweets Smile', sans-serif;
  color: #FFF38A;
  text-align: center;
  margin-top: 20px;
}

.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFF38A;
  margin: 0 10px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* Opdracht 1: lachen maakt gelukkig.  */
#opdracht1{
  height: 100vh;
  background-color: #FFF38A;
}

h1{
  font-family: 'Sweets Smile', sans-serif;
  text-align: center;
  font-size: 80px;
  padding-top: 50px;
}

#opdrachten{
  font-family: 'Sweets Smile', sans-serif;
  text-align: center;
  font-size: 80px;
  padding-top: 50px;
}



/* Opdracht 2: bewegen maakt gelukkig. */

#opdracht2 {
  height: 100%;
  margin: 0;
  padding: 0;
}
#video-container {
  width: 100%;
  height: 100%;
  position: relative;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* 
Opdracht 3: Meditatie maakt gelukkig. */
#opdracht3 {
  font-family: 'Sweets Smile', sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 24px;
  padding-top: 75px;
  margin-bottom: 90px;
  text-align: center;
  opacity: 1;
  animation: fadeout 15s ease-in-out forwards;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 43%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 40px #FFF38A, 0 0 80px #FFF38A, 0 0 40px #FFF38A inset;
  animation: pulse 8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.3);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Opdracht 4: natuur maakt gelukkig.   */
#opdracht4 {
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text2 {
  font-family: 'Sweets Smile', sans-serif;
  font-size: 24px;
  width: 200%;
  text-align: center;
  margin-left: -50%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #e2d164;
  /*animation: fadeout 10s ease-in-out forwards;*/
}
